footer {
  display: flex;
  flex-flow: row wrap;
  background-color: $dark-bg-color;
  color: $light-text-color;
  padding: 4%;


  .title {
    font-family: $display-font;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  .about-us, .newsletter, .ig-feed, .follow-us {
    flex-basis: 24%;
  }

  .about-us {
    p {
      padding-right: 1.2rem;
    }
  }

  .ig-feed {

    .img-thumb {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2%;
    }
  }

  .newsletter {
    input {
      border: none;
      height: 2.5rem;
      background: #333;
      padding: 3px 10px;
      outline: none;
    }

    button {
      color: $light-text-color;
      border: none;
      height: 2.5rem;
      width: 3rem;
      margin-left: -3px;
      background: #300;
    }
  }

  .follow-us {
    padding: 0 2rem;
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: 1rem;

        a {
          color: $link-color;

          &:hover {
            color: $red-color;
          }
        }
      }
    }
  }

  .copy {
    flex-basis: 100%;
    text-align: center;
    margin-top: 2rem;
     i {
       margin: 0 0.1rem;
     }
  }
}

@media screen and (max-width: 1200px) {
  footer {
    .about-us, .newsletter, .ig-feed, .follow-us {
      flex-basis: 45%;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      margin-left: auto;
    }

    .copy {
      margin-top: 0.5rem;
    }

    .follow-us {
      padding: 0;
    }
  }
}

@media screen and (max-width: 720px) {
  footer {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    .about-us, .newsletter, .ig-feed, .follow-us {
      flex-basis: 95%;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      margin-left: auto;
    }

    .follow-us {
      padding: 0;
    }

    .ig-feed {


      .img-thumb {
        margin-right: 0;
        padding-right: 0;
        grid-gap: 2%;
      }
    }

    .copy {
      margin-top: 0.5rem;
    }
  }
}