.side-posts {
  background: $dark-bg-color;
  margin-top: 2.7rem;
  padding-bottom: 2.7rem;

  .title {
    position: relative;
    color: $light-text-color;
    padding: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $red-color;
  }
  .post {
    display: grid;
    margin: 0 2rem;

    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: $link-color;
    grid-template-columns: 100px 2fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
            "post-img post-title"
            "post-img post-date";

    &:not(:last-child) {

    }
    .post-img {
      grid-area: post-img;
      width: 100%;
    }

    .post-title {
      grid-area: post-title;
      font-size: 1rem;
      font-size: 0.9rem;

      a {
        color: $link-color;
        text-decoration: none;

        &:hover {
          background: -webkit-linear-gradient(207deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .post-date {
      grid-area: post-date;
      color: #888;
    }
  }
}

@media screen and (max-width: 1100px) {
  .side-posts {
    margin: 5vw;
  }
}

@media screen and (max-width: 500px) {
  .side-posts {
    margin: 4vw 0vw;
  }
}